{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h1 id="h1"> Home</h1>
        <h1>{{request.user}}</h1>
        <nav>
            <a href="{% url 'admin:index' %}">Admin</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'New_user' %}">New_user</a>
            <a href="{% url 'login_user' %}">login</a>
            <a href="{% url 'logout_user' %}">logout</a>
            <a href="{% url 'user_data' %}">user_data</a>
        </nav>
    </header>
    <div id="landing-page">
        <div class="wrapper">
            <h1>Welcome To Education</h1>
            <p>Education is about learning skills and knowledge. It also means helping people to learn how to do things and support them to think about what<br> they learn. It's also important for educators to teach ways to find and use information</p>
            <a href="{% url 'register' %}"><button>Enroll</button></a>
        </div>
    </div>
        
       
</body>
</html>