<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_user</title>
</head>
<body>
    <center>
        <h1>New_user</h1>
        <form  method="POST">
            {% csrf_token %}
            <input type="text" name="n" id="n" placeholder="enter username" required><br><br>
            <input type="password" name="p" id="p" placeholder="enter password" required><br><br>
            <input type="submit" value="New_user">
        </form>
    </center>
</body>
</html>